.root {
  /* background-color: hsl(0, 0%, 8%); */
}

.card {
  background-color: hsl(0, 0%, 100%);
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 100px;
  margin: auto auto;
  padding: 10px;
  width: 650px;
  /* text-align: center; */
}

.card-body {
  margin: 40px;
}

input:not(#submitBtn) {
  width: 120px;
  font-size: 32px;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 10px;
}

form.submitted input:invalid  {
  border-radius: 2px;
  border-color: hsl(0, 100%, 67%);
}

/* .col {
  flex: 33.3%;
  width: 33.3%;
}

.col-mid {
  margin: 0px 10px;
} */

.input-row {
  /* display: inline-block;
  flex-direction: row; */
  display: flex;
  width: auto;
  
}

input {
  padding: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
}

#row {
  flex-direction: row;
  /* margin-left: 10px; */
}

p, label, input, span {
  font-family: Poppins;
  
}

/* p:not(.result-text) {
  color: hsl(0, 100%, 67%);
  font-weight: normal;
} */

p.result-text {
  color: hsl(0, 0%, 8%);
  font-size: 70px;
  font-weight: 800;
  line-height: 80px;
}

/* p.result-text{
  color: hsl(0, 0%, 8%);
} */

label {
  font-size: 15px;
  color: hsl(0, 1%, 44%);
  font-variant-caps: small-caps;
  letter-spacing: 2px;
}

span[class="result-num"] {
  color: hsl(259, 100%, 65%);
}

span[class="error-text"], label[class="invalid-label"] {
  color: hsl(0, 100%, 67%);
  /* font-weight: 100;
  font-size: 12px; */
}

button {
  border-radius: 100%;
  background-color: hsl(259, 100%, 65%);
  border-color: hsl(259, 100%, 65%);
  border-style: solid;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 8%);
  border-color: hsl(0, 0%, 8%);
}

/* img {
  height: 50px;
} */

hr {
  width: 500px;
  color: hsl(0, 0%, 95%);
}

/*place button and divider on same row and center align both items*/
.divider {
  display: flex;
  align-items: center;
}


/* remove input arrows in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove input arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}